<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <title>ToDo List</title>
    </head>
    <body>
        <center>
            <h1>
                To do
            </h1>
        </center>
        <center>
            <form action="/" method="POST" autocomplete="off">
                <input type="text" placeholder="New note" required>
                <button type="submit">Submit</button>
            </form>
        </center>
    </body>
</html>