<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <title>ToDo List</title>
    </head>
    <body>
        <center>
            <h1>
                To do
            </h1>
        </center>
        <center>
            <form action="/" method="POST" autocomplete="off">
                <input type="text" placeholder="New note" name="newNote" required>
                <button type="submit">Submit</button>
            </form>

            <div id="box">
            <% if(data) { %>
                <% data.forEach(function(newNote) { %>
                    <form action="/delete" method="POST">
                        <div id="newNote">
                        <input type="checkbox" name="checkbox" value="<%=newNote._id%>" onchange="this.form.submit()">
                        <p><%=newNote.todoItem %></p>
                    </div>
                    </form>
                <%  }) %>
           <% } %>
            </div>
        </center>
    </body>
</html>